{%extends 'base.html'%}

{%block content%}
<br>
{% if user.is_authenticated%}
<h1>Welcome to home page</h1>
<p>You are currently logged in</p>
  <h5>List of all Employee Record </h5>

<table border="2" class="table">
  <thead>
    <tr>
      <th scope="col">SL No.</th>
      <th scope="col">Created</th>
      <th scope="col">First Name </th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    {%if record%}
{%for record in record%}
    <tr>
      <td>{{record.id}}</td>
      <td>{{record.created_at}}</td>
      <td>{{record.first_name}}</td>
      <td>{{record.last_name}}</td>
      <td>{{record.email}}</td>
      <td>{{record.phone}}</td>
      <td>{{record.address}}</td>
      <td>{{record.city}}</td>
      <td>{{record.zipcode}}</td>
      <td><a href="{% url 'detail' record.id%}">More</a></td>
    </tr>
    <tr>
      {%endfor%}
{%endif%}
  </tbody>
</table>


<br>   
<a href="{%url 'register'%}" class="btn btn-primary">New Register</a>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="{%url 'logout'%}" class="btn btn-secondary btn-danger">Logout</a>
{%else%}
    <form method="POST">
        {%csrf_token%}
        <div class="mb-3">
            <label class="form-label">Username</label>
          <input placeholder="username" name="username" type="text" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input placeholder="password" name="password" type="password" class="form-control" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
<br>
<a href="{%url 'register'%}" class="btn btn-primary">New Register</a>

 
 {%endif%}
{%endblock%}